* {
  box-sizing: border-box;
  margin: 0%;
}

.main-img {
  /* background-image:linear-gradient(rgba(42, 42, 42, 0.673),transparent) ,url(/images/Amazon-Rainforest-Weather-Seasons-Best-Time-To-Visit.webp); */
  background-image: url(/images/istockphoto-1159632504-612x612.jpg);
  background-size: cover;
  height: 780px;
  /* width: 100%;  */
  background-position: center;
  background-repeat: no-repeat;
}

.button {
  border-width: 1px;
  border-color: rgba(0, 0, 0, 0.375);
  background-color: rgba(255, 255, 255, 0.371);
  border-radius: 80px;
  color: rgba(251, 250, 250, 0.75);
}

.image {
  height: 150px;
  width: 150px;
}

.moreinfo1 {
  width: 30%;
  background-color: rgba(0, 0, 0, 0.306);
}
.moreinfo2 {
  width: 30%;
  background-color: rgba(0, 0, 0, 0.306);
  padding-bottom: 20px;
}
.humidityicon {
  height: 32px;
  width: 32px;
}
.smallicons {
  height: 42px;
  width: 42px;
}
/* .smallicons2{
    height: 38px;
    width: 38px;
} */
